# Capita

Technical Challenge for Data Science Candidates

Data checking and prototyping

In [1]:
import numpy as np
import pandas as pd
import math
import json

from pyjstat import pyjstat
from os import path

import scipy.stats as st
import statsmodels as sm
import statsmodels.api as smi

import matplotlib
from cycler import cycler
import matplotlib.pyplot as plt

# this is the local Utility module
# import rvlt

%load_ext autoreload
%autoreload 2

pd.__version__

'0.24.2'

In [12]:
# If you turn this feature on, you can display each result as it happens.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Download by hand and check format
fl0 = 'stats.json'
with open(fl0) as jfile:
    j0 = json.load(jfile)

In [19]:
?pyjstat

Type:        module
String form: <module 'pyjstat.pyjstat' from '/home/weaves/.local/lib/python3.7/site-packages/pyjstat/pyjstat.py'>
File:        ~/.local/lib/python3.7/site-packages/pyjstat/pyjstat.py
Docstring:
pyjstat is a python module for JSON-stat formatted data manipulation.

This module allows reading and writing JSON-stat [1]_ format with python,
using data frame structures provided by the widely accepted
pandas library [2]_. The JSON-stat format is a simple lightweight JSON format
for data dissemination. Pyjstat is inspired in rjstat [3]_, a library to read
and write JSON-stat with R, by ajschumacher.

pyjstat is written and maintained by `Miguel Expósito Martín
<https://twitter.com/predicador37>`_ and is distributed under the Apache 2.0
License (see LICENSE file).

.. [1] http://json-stat.org/ for JSON-stat information
.. [2] http://pandas.pydata.org for Python Data Analysis Library information
.. [3] https://github.com/ajschumacher/rjstat for rjstat library information

Example:
  Importing a JSON-stat file into a pandas data frame can be done as follows::

    import urllib2
    import json
    import pyjstat
    results = pyjstat.from_json_stat(json.load(urllib2.urlopen(
    'http://json-stat.org/samples/oecd-canada.json')))
    print results

In [4]:
# This can't be loaded without the API
results = pyjstat.from_json_stat(fl0)
results

[]

In [5]:
# There's a future warning - minor change made in pyjstat
fl1 = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_31_1.jsonstat.json'
dataset = pyjstat.Dataset.read(fl1)

In [32]:
df = dataset.write('dataframe')
df.to_pickle('stats.pickle')

In [15]:
df = pd.read_pickle('stats.pickle')

In [16]:
df[df.select_dtypes(['object']).columns] = df.select_dtypes(['object']).apply(lambda x: x.astype('category'))

In [12]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22800 entries, 0 to 22799
Data columns (total 6 columns):
date         22800 non-null category
geography    22800 non-null category
sex          22800 non-null category
age          22800 non-null category
measures     22800 non-null category
value        20358 non-null float64
dtypes: category(5), float64(1)
memory usage: 292.3 KB

In [25]:
df[ (df.date == max(df.date)) & df.age.str.match('All ages') ]

       date          geography     sex       age measures       value
22200  2018              Wales    Male  All ages    Value   1547300.0
22201  2018              Wales    Male  All ages  Percent       100.0
22250  2018              Wales  Female  All ages    Value   1591300.0
22251  2018              Wales  Female  All ages  Percent       100.0
22300  2018              Wales   Total  All ages    Value   3138600.0
22301  2018              Wales   Total  All ages  Percent       100.0
22350  2018           Scotland    Male  All ages    Value   2648800.0
22351  2018           Scotland    Male  All ages  Percent       100.0
22400  2018           Scotland  Female  All ages    Value   2789300.0
22401  2018           Scotland  Female  All ages  Percent       100.0
22450  2018           Scotland   Total  All ages    Value   5438100.0
22451  2018           Scotland   Total  All ages  Percent       100.0
22500  2018   Northern Ireland    Male  All ages    Value    926200.0
22501  2018   Northern Ireland    Male  All ages  Percent       100.0
22550  2018   Northern Ireland  Female  All ages    Value    955400.0
22551  2018   Northern Ireland  Female  All ages  Percent       100.0
22600  2018   Northern Ireland   Total  All ages    Value   1881600.0
22601  2018   Northern Ireland   Total  All ages  Percent       100.0
22650  2018  England and Wales    Male  All ages    Value  29215300.0
22651  2018  England and Wales    Male  All ages  Percent       100.0
22700  2018  England and Wales  Female  All ages    Value  29900600.0
22701  2018  England and Wales  Female  All ages  Percent       100.0
22750  2018  England and Wales   Total  All ages    Value  59115800.0
22751  2018  England and Wales   Total  All ages  Percent       100.0